<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")/
        meta(name="viewport", content="width=device-width, initial-scale=1.0")/
        title Document
    body
        h2 Users

        form(action="/users/search" method="GET")
            input(type="text" name="q" value=queryInput)
            button(id="button") Search

        ul
            each user in users
                li= user.name

            